<section 
class="my-section article mbr-parallax-background mbr-after-navbar" style="
background-image: url(/assets/images/praia.jpg); 
padding-top: 114px; padding-bottom: 113px;">



    <div class="overlay" style="opacity: 0.5;background-color: rgb(34, 34, 34);">
    </div>
    
        
<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center head-text">
                <h3 class="my-section-title display-2">TITLE<br>HOME &nbsp;- TEXT<br>2018</h3>
                <div class="lead"><p>Description</p></div>
                
            </div>
        </div>
    </div>
    

</section>

<section class="bg-secundary ng-scope">
      <div class="container">





        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Text Text</h2>
            <hr class="light my-4">
            <a class="btn btn-red btn-red-outline btn-block1" ui-sref="pages.1" >Go link 1</a>
          </div>
        </div>


      </div>
    </section>

