<section 
class="my-section article mbr-parallax-background mbr-after-navbar" style="
background-image: url(/assets/images/tel.jpg); 
padding-top: 114px; padding-bottom: 113px;">



    <div class="overlay" style="opacity: 0.5;background-color: rgb(34, 34, 34);">
    </div>
    
        
<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center head-text">
                <h3 class="display-2">CONTATO</h3>
                 
            </div>
        </div>
    </div>
    

</section>

<section class="mbr-section article mbr-section__container ng-scope" id="content1-r" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 lead"> Desenvolvedor do site: <a href="mailto:1jeanbispo@gmail.com">1jeanbispo@gmail.com</a> </br> </div>
        </div>
    </div>
</section>