
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/assets/images/desert.jpg');">
            <div class="overlay"></div>
            <div class="slide-text">
              
                <h2 class="display-2">Title </br>Link</h2>
                <a class="btn btn-lg btn-white btn-white-outline" ui-sref="retirodejovens.2018" href="#!/retirodejovens/2018">Go link</a>
                
              
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/images/praia.jpg')">
            <div class="overlay"></div>
            <div class="slide-text-right">
              <h2 class="display-2">Galery </h2>
              <p>Galery</p>
              <a class="btn btn-lg btn-info" ui-sref="home.galeria">Go Link</a>
            </div>
          </div> 
        </div> 

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </header>
      


<section class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Title</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <a class="btn btn-light btn-xl js-scroll-trigger btn-block1" ui-sref="retirodejovens.2018">Access</a>
          </div>
        </div>
      </div>
    </section>





